@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
.gerald{
    border-radius: 20px;
    width: 20%;
    margin-top: 100px;
}
/* Basic Page Styling */
html, body {
  font-family: 'Libre Baskerville', serif;
  height: 100%;
  color: #666;
  background: #e5e5e5;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
.name{
  margin-top: 30px;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: underline;
  color: #fff;
}

/* Overriding Bootstrap Button Styles */
.btn-outline-primary {
  color: #551A8B;
  font-weight: 600;
  border-color: #551A8B;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open > .dropdown-toggle.btn-outline-primary {
  background: #49c5ff;
  border-color: #49c5ff;
}
.button{
  margin-top:96px;
}
.buttonjc{
  margin-top: 221px;
}
.buttonlg{
  margin-top:  78px;
}
.buttonjw{
  margin-top: 87px;
}
.buttony{
  margin-top: 145px;
}
/* Header Styling */
.header {
  background: #551A8B;
  background-image: url(../imagesgeraldsworld/skyline.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 2px;
}
.header .social {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 60px;
}
.header .social a {
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
}
.header .action {
  position: absolute;
  top: 15px;
  right: 15px;
}
.resume img{
    width: 100%;
    vertical-align: middle;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#bio p{
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  width: 70%;
}
/* Sticky Navbar */
.sticky.is-sticky {
  background: #551A8B;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* Section Styling */
.section {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  margin-bottom: 45px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#aquarium{
  margin-top: 20px;
}
.card-body{
  height: 450px;
  margin-top: 30px;
}
.card img{
  max-width: 100%;
}
.card-deck{
  margin-top: 50px;
}

/* Timeline Styling */
.timeline {
  border-left: 3px solid #49c5ff;
  border-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 220px;
}
.timeline .item {
  position: relative;
  margin-bottom: 45px;
}
.timeline .item:last-child {
  margin-bottom: 0;
}
.timeline .item:before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #49c5ff;
}
.timeline .item:after {
  content: "";
  position: absolute;
  left: -37px;
  top: 6px;
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #49c5ff;
  z-index: 10;
}
.timeline .job-title {
  position: absolute;
  left: -250px;
  top: 0;
}
footer ul{
  margin-left: 550px;
}
footer li{
  font-size: 3em;
  padding-left: 20px;

}
footer li a:hover{
  color: #551A8B;
}
footer ul + a{
  display: block;
  margin-left: 650px;
  font-size: 3em;
}
footer ul + a:hover{
  color: #551A8B;
}
#section-3 form{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
/*media queries*/

@media screen and (max-width: 440px) {
  .btn{
    display: none;
  }
  .list-inline-item{
    margin-left: 29px;
  }
  .gerald{
    margin-top: 0px;
  }
  .mx-auto{
    display: none;
  }
  #bio .mb-4{
    text-align: left;
    font-size: 1em;
  }
  #bio p {
    font-size: 1em;
    text-align: left;
    width: 100%;
  }
  .btn-outline-primary {
    display: block;
  }
input{
  border: 2px solid:black;
}
footer{
  display: none;
}
}
